<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>UpdateProduct</h2>

<form th:action="@{/editProduct/{id}(id=${product.id})}" method="post" th:each="p : ${product}">

    <div>
        <label>Product Name</label><br>
        <input type="text" name="name" th:value="${p.name}" required>
    </div>
    <br>

    <div>
        <label>Price</label><br>
        <input type="number" name="price" step="0.01" th:value="${p.price}" required>
    </div>
    <br>

    <div>
        <label>Description</label><br>
        <textarea name="description" rows="4"  th:text="${p.description}"></textarea>
    </div>
    <br>

    <button type="submit">Update Product</button>

</form>
</body>
</html>